@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lobster&family=Noto+Serif+SC&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: #f3f3f3;
}

button {
  width: 5.6rem;
  height: 2.5rem;
  background-color: #34d0b2;
  color: #f3f3f3;
  text-align: center;
  line-height: 2.5rem;
  border: none;
  outline: none;
  border-radius: 6px;
}

a {
  text-decoration: none;
  color: #f3f3f3;
}

input {
  border: none;
  outline: none;
  padding: 0 15px;
}

li {
  list-style: none;
}

select {
  outline: none;
  letter-spacing: 0.1rem;
}

select option {
  display: inline-block;
  height: 3rem;
  letter-spacing: 0.1rem;
}
